<!doctype html>
<html>
<head>
  <title>Sunday's Soundbook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/g/jplayer" %>
  <%= csrf_meta_tags %>
</head>
<body id="index">
  <div id="albums">
    <% for album in Album.visible.all.reverse %>
      <div class="album-entry">
        <a href="javascript: show_album_songlist(<%= album.id %>)"><img src="<%= album.cover_url %>"></a></a>
        <a href="javascript: show_album_songlist(<%= album.id %>)"><h2><%= album.title %></h2></a>
      </div>
    <% end %>
  </div>
  <div id="albums-songlist">
    <% for album in Album.visible.all %>
      <div class="album-songlist" id="album-songlist-<%= album.id %>">
        <div class="album-header">
          <img src="<%= album.cover_url %>">
          <h2><%= album.title %></h2>
          <span><%= album.description %></span>
        </div>
        <div class="player_alt">
          <div id="controls">
            <img src="<%= asset_path('play.png') %>" id="play">
            <img src="<%= asset_path('pause.png') %>" id="pause">
            <img src="<%= asset_path('stop.png') %>" id="stop">
            <div id="time">
              <span id="currentTime">0:00</span>
              /
              <span id="duration">0:00</span>
            </div>
            <div class="progress_border_alt">
              <div class="progress_alt"></div>
            </div>
          </div>
        </div>
        <div class="album-songs">
          <% for song in album.songs.reverse %>
            <div class="song">
              <a href="javascript: play_song(<%= song.id %>); "><img src="<%= asset_path('play.png') %>"></a>
              <a href="<%= song_path(song.id, format: :mp3) %>"><img src="<%= asset_path('download.png') %>"></a>
              <a href="javascript: play_song(<%= song.id %>); "><h3><%= song.title %></h3></a>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div id="player">
      <div id="jplayer"></div>
      <div id="controls">
        <img src="<%= asset_path('play.png') %>" id="play">
        <img src="<%= asset_path('pause.png') %>" id="pause">
        <img src="<%= asset_path('stop.png') %>" id="stop">
        <div id="time">
          <span id="currentTime">0:00</span>
          /
          <span id="duration">0:00</span>
        </div>
        <div id="progress_border">
          <div id="progress"></div>
        </div>
      </div>
      <div id="description">
      </div>
    </div>
  </div>
  <script>
    // play the song denoted by 'reveal' param (if specified)
    <% if @song %>
      $(document).ready(function() {
        show_album_songlist(<%= @album.id %>);
        play_song(<%= @song.id %>);
      });
    <% end %>
  </script>
</body>
</html>